USE [master]
GO
/****** Object:  Database [DB_SPA]    Script Date: 11/13/2019 10:57:55 AM ******/
CREATE DATABASE [DB_SPA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_SPA', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_SPA.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_SPA_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_SPA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_SPA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_SPA]
GO
/****** Object:  Table [dbo].[CHI_NHANH]    Script Date: 11/13/2019 10:57:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHI_NHANH](
	[MA_CN] [int] IDENTITY(1,1) NOT NULL,
	[TEN_CHI_NHANH] [varchar](50) NULL,
	[DIA_CHI] [varchar](100) NULL,
	[PHONE] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 11/13/2019 10:57:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MA_SP] [int] NOT NULL,
	[MA_HD] [int] NOT NULL,
	[SO_LUONG] [int] NULL,
	[THANH_TIEN] [float] NULL,
 CONSTRAINT [PK_CHI_TIET_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC,
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DICH_VU]    Script Date: 11/13/2019 10:57:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICH_VU](
	[MA_DV] [int] IDENTITY(1,1) NOT NULL,
	[TEN_DICH_VU] [varchar](50) NULL,
	[CHI_TIET] [text] NULL,
	[GIA] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 11/13/2019 10:57:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HD] [int] IDENTITY(1,1) NOT NULL,
	[MA_KH] [int] NULL,
	[TONG_TIEN] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 11/13/2019 10:57:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [int] IDENTITY(1,1) NOT NULL,
	[TEN_KH] [varchar](50) NULL,
	[EMAIL] [varchar](100) NULL,
	[PHONE] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICH_HEN]    Script Date: 11/13/2019 10:57:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICH_HEN](
	[MA_LH] [int] IDENTITY(1,1) NOT NULL,
	[MA_KH] [int] NULL,
	[MA_CN] [int] NULL,
	[MA_DV] [int] NULL,
	[NGAY] [datetime] NULL,
	[GIO] [varchar](20) NULL,
	[NOTE] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 11/13/2019 10:57:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MA_NV] [int] IDENTITY(1,1) NOT NULL,
	[TEN_NV] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](200) NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 11/13/2019 10:57:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MA_SP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_SP] [varchar](50) NULL,
	[MO_TA] [text] NULL,
	[ANH] [varchar](100) NULL,
	[GIA] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 11/13/2019 10:57:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[MA_TK] [int] IDENTITY(1,1) NOT NULL,
	[MA_KH] [int] NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](100) NOT NULL,
	[TRANG_THAI] [tinyint] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [PK_CHI_NHANH]    Script Date: 11/13/2019 10:57:55 AM ******/
ALTER TABLE [dbo].[CHI_NHANH] ADD  CONSTRAINT [PK_CHI_NHANH] PRIMARY KEY NONCLUSTERED 
(
	[MA_CN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CHI_TIET_HOA__ON_FK]    Script Date: 11/13/2019 10:57:55 AM ******/
CREATE NONCLUSTERED INDEX [CHI_TIET_HOA__ON_FK] ON [dbo].[CHI_TIET_HOA_DON]
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CHI_TIET_HOA__ON2_FK]    Script Date: 11/13/2019 10:57:55 AM ******/
CREATE NONCLUSTERED INDEX [CHI_TIET_HOA__ON2_FK] ON [dbo].[CHI_TIET_HOA_DON]
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DICH_VU]    Script Date: 11/13/2019 10:57:55 AM ******/
ALTER TABLE [dbo].[DICH_VU] ADD  CONSTRAINT [PK_DICH_VU] PRIMARY KEY NONCLUSTERED 
(
	[MA_DV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_HOA_DON]    Script Date: 11/13/2019 10:57:55 AM ******/
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [PK_HOA_DON] PRIMARY KEY NONCLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [THANH_TOAN_FK]    Script Date: 11/13/2019 10:57:55 AM ******/
CREATE NONCLUSTERED INDEX [THANH_TOAN_FK] ON [dbo].[HOA_DON]
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KHACH_HANG]    Script Date: 11/13/2019 10:57:55 AM ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LICH_HEN]    Script Date: 11/13/2019 10:57:55 AM ******/
ALTER TABLE [dbo].[LICH_HEN] ADD  CONSTRAINT [PK_LICH_HEN] PRIMARY KEY NONCLUSTERED 
(
	[MA_LH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CUA_FK]    Script Date: 11/13/2019 10:57:55 AM ******/
CREATE NONCLUSTERED INDEX [CUA_FK] ON [dbo].[LICH_HEN]
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LAM_FK]    Script Date: 11/13/2019 10:57:55 AM ******/
CREATE NONCLUSTERED INDEX [LAM_FK] ON [dbo].[LICH_HEN]
(
	[MA_DV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [O_FK]    Script Date: 11/13/2019 10:57:55 AM ******/
CREATE NONCLUSTERED INDEX [O_FK] ON [dbo].[LICH_HEN]
(
	[MA_CN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_SAN_PHAM]    Script Date: 11/13/2019 10:57:55 AM ******/
ALTER TABLE [dbo].[SAN_PHAM] ADD  CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY NONCLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TAI_KHOAN]    Script Date: 11/13/2019 10:57:55 AM ******/
ALTER TABLE [dbo].[TAI_KHOAN] ADD  CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY NONCLUSTERED 
(
	[MA_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CO_FK]    Script Date: 11/13/2019 10:57:55 AM ******/
CREATE NONCLUSTERED INDEX [CO_FK] ON [dbo].[TAI_KHOAN]
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CHI_TIET__HOA_DON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOA_DON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CHI_TIET_CHI_TIET__HOA_DON]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CHI_TIET__SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SAN_PHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CHI_TIET_CHI_TIET__SAN_PHAM]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_THANH_TOA_KHACH_HA] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_THANH_TOA_KHACH_HA]
GO
ALTER TABLE [dbo].[LICH_HEN]  WITH CHECK ADD  CONSTRAINT [FK_LICH_HEN_CUA_KHACH_HA] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
GO
ALTER TABLE [dbo].[LICH_HEN] CHECK CONSTRAINT [FK_LICH_HEN_CUA_KHACH_HA]
GO
ALTER TABLE [dbo].[LICH_HEN]  WITH CHECK ADD  CONSTRAINT [FK_LICH_HEN_LAM_DICH_VU] FOREIGN KEY([MA_DV])
REFERENCES [dbo].[DICH_VU] ([MA_DV])
GO
ALTER TABLE [dbo].[LICH_HEN] CHECK CONSTRAINT [FK_LICH_HEN_LAM_DICH_VU]
GO
ALTER TABLE [dbo].[LICH_HEN]  WITH CHECK ADD  CONSTRAINT [FK_LICH_HEN_O_CHI_NHAN] FOREIGN KEY([MA_CN])
REFERENCES [dbo].[CHI_NHANH] ([MA_CN])
GO
ALTER TABLE [dbo].[LICH_HEN] CHECK CONSTRAINT [FK_LICH_HEN_O_CHI_NHAN]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOA_CO_KHACH_HA] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOA_CO_KHACH_HA]
GO
USE [master]
GO
